* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root{
  --main-color:#F6AB6D;
 
}
@font-face {
  font-family: 'mohave-light';
  src: url('/fonts/mohave-light-webfont.woff2') format('woff2'),
       url('/fonts/mohave-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'mohave-regular';
  src: url('/fonts/mohave-regular-webfont.woff2') format('woff2'),
       url('/fonts/mohave-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'mohave-medium';
  src: url('/fonts/mohave-medium-webfont.woff2') format('woff2'),
       url('/fonts/mohave-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'mohave-italic';
  src: url('/fonts/mohave-italic-webfont.woff2') format('woff2'),
       url('/fonts/mohave-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'mohave-medium-italic';
  src: url('/public/fonts/Mohave-MediumItalic.otf') format('otf');

 
}

@font-face {
  font-family: 'mohave-light-italic';
  src: url('/fonts/mohave-lightitalic-webfont.woff') format('woff'),
  url('/fonts/mohave-lightitalic-webfont.woff2') format('woff2');

  font-style: normal;

}


@font-face {
  font-family: 'mohave-bold-italic';
  src: url('/fonts/Mohave-BoldItalic.otf') format('otf');
}

@font-face {
  font-family: 'mohave-bold';
  src: url('/fonts/mohave-bold-webfont.woff') format('woff'),
  url('/fonts/Mohave-Bold.otf') format('otf') ;
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'bald-eagle';
  src:
 
  url('/fonts/bald-eagle-webfont.woff2') format('woff2'),
       url('/fonts/bald-eagle-webfont.woff') format('woff')
       ;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 31px;

}
.sticky-parent{
  height: 700vh;
}
.sticky{
  position: sticky;
  top: 0px;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}
.dim{
  display: block;
  min-width: 50vw;
  height: 100vh;
}
.horizontal{
  display: flex;
}
.br{
  outline: solid;
}

@media (max-width: 620px) {
  .dim{
    display: block;
    min-width: 100vw;
    height: 100vh;
  }
}

p{
  font-size: 10em;
  text-align: center;
}

.dim {
  display: block;
  width: auto; /* Ensure the full width of your image is used */
  height: 100vh; /* Adjust if necessary */
}
.horizontal {
  display: flex;
  /* Other styles as needed */
}

.sticky-container {
    position: sticky;
    top: 0;
    height: 100vh;
  }

.test-sticky{
  position: sticky;
  top: 0;
  height: 10px;
  width: 100vw;
  background-color: red;
}

.swiper {
  width: 100%;
  height: 100vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

display: flex;
align-items: center;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
